@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 classe="display-4">1º Cartório Marinattow - Oficial de Registro Civil de Marília/SP</h1>
    <p>“Caro Usuário: este cartório tem o compromisso e a obrigação de oferecer a você um serviço de alta qualidade.”</p>
    <div>
        <img src="/img/cartorio.jpg" />
    </div>

</div>
